## Exploratory Data Analysis (EDA)
### GAIA Star Cluster Classification    
#### DATA 301, 2023

**Sakila Wanigasinghe [300526406]**

***

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
## Loading in NGC 2437 star cluster data
ngc_2437 = pd.read_csv('../Data/ngc_2437.csv')
ngc_2437.shape

(2000, 13)

In [6]:
ngc_2437.head()

,source_id,ra,dec,parallax,pmra,pmdec,phot_g_mean_mag,phot_bp_mean_mag,phot_rp_mean_mag,bp_rp,radial_velocity,teff_gspphot,Cluster
0,3028907114352000000,115.526317,-15.606329,0.612704,-3.872994,0.365249,13.168623,13.362393,12.843882,0.518512,NaN,7707.4536,NGC_2437
1,3028907664107832064,115.442723,-15.615391,0.615414,-3.872067,0.372196,17.382462,17.937426,16.681880,1.255545,NaN,4557.7580,Other
2,3028907797242655872,115.490331,-15.610655,0.447055,-3.432289,-0.133326,17.563602,18.166182,16.813154,1.353027,NaN,4681.8350,Other
3,3028911478038853504,115.792022,-15.538045,0.584538,-3.814146,0.389718,16.137276,16.610874,15.515570,1.095304,NaN,5089.9517,NGC_2437
4,3028912092211579776,115.746816,-15.554148,0.613328,-3.882753,0.421553,16.254417,16.623857,15.665410,0.958447,NaN,5201.2314,NGC_2437

In [10]:
## Loading in NGC 7789 star cluster data
ngc_7789 = pd.read_csv('../Data/ngc_7789.csv')
ngc_7789.shape

(2000, 13)

In [11]:
ngc_7789.head()

,source_id,ra,dec,parallax,pmra,pmdec,phot_g_mean_mag,phot_bp_mean_mag,phot_rp_mean_mag,bp_rp,radial_velocity,teff_gspphot,Cluster
0,420901507912889088,0.082375,56.014056,0.320644,-0.386428,-1.528307,16.820808,17.286600,16.184370,1.102230,NaN,5409.3820,Other
1,420906936751548288,0.237080,56.055887,0.597838,-1.651632,-2.148538,17.591908,18.355732,16.755722,1.600010,NaN,4343.0300,Other
2,420907142909967104,0.149607,56.061129,0.211846,-1.312115,-2.421624,15.102909,15.690556,14.344952,1.345604,NaN,5978.2773,Other
3,420907722722130816,0.003523,56.075048,0.342945,-1.708469,-2.459792,16.090326,16.448742,15.559808,0.888934,NaN,6960.6714,Other
4,420908414210912512,0.013300,56.152271,0.560820,-1.245880,-2.100259,16.771912,NaN,NaN,NaN,NaN,NaN,Other

In [12]:
## Loading in Trumpler 5 star cluster data
trumpler_5 = pd.read_csv('../Data/trumpler_5.csv')
trumpler_5.shape

(2000, 13)

In [13]:
trumpler_5.head()

,source_id,ra,dec,parallax,pmra,pmdec,phot_g_mean_mag,phot_bp_mean_mag,phot_rp_mean_mag,bp_rp,radial_velocity,teff_gspphot,Cluster
0,3326188665921045120,99.180263,8.938090,0.117289,-0.767038,0.202383,17.720343,18.314255,16.970951,1.343304,NaN,5201.7600,Other
1,3326188940798945920,99.123816,8.924983,-0.052569,0.351594,-0.838942,17.792180,18.782574,16.812962,1.969612,NaN,4615.8970,Other
2,3326189391771063424,99.161032,8.937259,0.354193,-0.229926,-0.055456,16.855852,17.416264,16.147139,1.269125,NaN,5466.8804,Other
3,3326189421835294080,99.175908,8.955257,0.423364,0.278428,-0.069258,17.581598,18.265062,16.802801,1.462261,NaN,5164.1900,Other
4,3326189593633986432,99.104969,8.958145,0.333585,-0.597968,-0.295040,17.811178,18.439910,17.031984,1.407927,NaN,4466.0156,Other